:root {
  --black: rgb(27, 27, 27);
  --white: rgb(255 255 255);
  --primary: #e4990f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

html,
body {
  position: relative;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.h-screen {
  position: relative;
  min-height: 99.99vh; /*** Unica forma que encontre para evitar que no haya scroll sin contenido y el footer abajo ***/
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.link-inicio {
  color: black;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}
.heading {
  color: var(--primary);
  text-align: center;
  margin-top: 5rem;
}

/** Navegacion ***/
.nav,
.navh {
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}
.nav {
  flex-direction: column;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}

.navh a,
.nav a {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
}
.nav a {
  font-size: 2rem;
}
.nav a:last-of-type {
  display: none;
}
.navh a:hover,
.active {
  background-color: var(--primary);
}
